<!-- BEGIN CONTAINER -->
<div class="page-container">
	<!-- BEGIN SIDEBAR -->
    <div ng-include="'public/js/app/core/views/layouts/sidebar.html'" ng-controller="SidebarController" class="page-sidebar-wrapper">
    </div>
    <!-- END SIDEBAR -->
    <container-home></container-home>
    <!-- BEGIN QUICK SIDEBAR -->
    <div ng-include="'public/js/app/core/views/layouts/quick-sidebar.html'" ng-controller="QuickSidebarController" class="page-quick-sidebar-wrapper"></div>
    <!-- END QUICK SIDEBAR -->
</div>
<!-- END CONTAINER